        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Poppins, sans-serif;
        }

        body {
            height: 100%;
            width: 100%;
            padding: 4rem 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background: #111;
        }

        form {
            background: #1b1b1b;
            padding: 2rem 2.5rem;
            width: 360px;
            border-radius: 16px;
            box-shadow: 0 0 20px rgba(0, 0, 0, .4);
            border: 1px solid rgba(255, 255, 255, .1);
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }

        form input {
            width: 100%;
            padding: .9rem 1rem;
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, .2);
            background: rgba(255, 255, 255, .1);
            color: #fff;
            font-size: 1rem;
            outline: none;
            transition: 0.3s ease;
        }

        form input:focus {
            border-color: #2979ff;
            box-shadow: 0 0 8px #2979ff;
        }

        #submit {
            background: #2979ff;
            border: none;
            color: #fff;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s ease;
        }

        .profile {
            margin-top: 3rem;
            background: #1b1b1b;
            padding: 2rem 2.5rem;
            width: 360px;
            border-radius: 16px;
            box-shadow: 0 0 20px rgba(0, 0, 0, .4);
            border: 1px solid rgba(255, 255, 255, .1);
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

        }

        .profile .img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #2979ff;

        }

        .profile .img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        hr {
            margin-top: 2rem;
            width: 100%;
            height: 20px;
            background-color: rgb(180, 245, 179);
        }

        .profile-seciton {
            display: flex;
            /* gap-in:rem; */
            row-gap: 1rem;
            column-gap: 2rem;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .heading {
            margin: 1rem 0;

            h1 {
                color: #fff;
                text-align: center;
            }
        }
    