* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0rem;
}
.img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
 
  max-width: 600px;
  width: 100%;
  gap: 3rem;
  min-height: 60vh;
  height: 100%;
}
img {
  width: 80%;
  border-radius: 32px;
  height: 70vh;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.img-1 {
  width: 70%;
  transition: right 0.7s ease-in;
}
.img-2 {
  transition: right 0.7s ease-in;

  width: 10%;
}
.img-3 {
  width: 10%;
  transition: right 0.7s ease-in;
}
.img-4 {
  transition: right 0.7s ease-in;

  width: 10%;
}
